<%# 
File name      : home,ejs
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
%>
<!-- Home Section --> 
<div class="container">
    <h3 class="bg-dark text-light" >Welcome to my website!</h3>
    <div class="container text-div">
        <p>This is an Express Portfolio Site that showcases the functionality of single-page application with the use Embedded Javascript. Here is the <a href="/about">About me</a> page. Click it then come back. Although it seems like clicking the link takes you to another page, it's actually still the same page we are in right now! The magic of EJS.</p>
    </div>
    <h3 class="bg-dark text-light">Mission Statement</h3>
    <div class="container text-div">   
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo. Tempor orci dapibus ultrices in iaculis nunc sed augue. Suscipit adipiscing bibendum est ultricies integer. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Sit amet nisl suscipit adipiscing bibendum.</p>
    </div>
</div>