<%# 
File name      : services.ejs 
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
%>

<!-- Services Section --> 
<div class="container">
    <h3 class="bg-dark text-light">A list of services I offer: </h3>
    <div class="d-block">
        <div class="bg-dark">
            <img src="\Assets\images\web-design.jpg" class="img-fluid rounded float-start p-4" alt="A minimalistic graphic of a computer, mouse and keyboard. WIth as pop up of a screen." style="width:40%;"></img>
        </div>
        <div class="bg-dark">
            <img src="\Assets\images\programming.webp" class="img-fluid rounded float-end p-4" alt="Image of a person typing on a computer screen which contains some sort of programming language."  style="width:40%;"></img>
        </div>
    </div>
    <div class="bg-dark list-div rounded clear-both">
        <ul class="list-group">
            <li class="list-group-item">Graphic Design</li>
            <li class="list-group-item">General programming</li>
            <li class="list-group-item">Web Development</li>
            <li class="list-group-item">Mobile Apps</li>
        </ul>
    </div>
</div>

