<%# 
File name      : about.ejs
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
%>

<!-- About Section --> 
<div class="container">
    <h3 class="bg-dark text-light">About Me</h3>
<div class="container text-div">
    <img src="\Assets\images\headshot.png" class="img-fluid rounded about-img" alt="Responsive image" ></img>
    <p>My name is Mae! I am currenlty a student taking Artificial Intelligence. In high school, I read a book called Homo Deus – A Brief History of Tomorrow, and it opened my eyes to how much machine learning could affect the world in the future. After finishing the book, I felt the intense urge to understand this concept fully, both out of dread and wonder.</p>
    <p>I’ve also had an interest in the human brain as an attempt to understand myself and my behaviour. Learning about Artificial intelligence, I was struck with the similarities and differences between the human brain and the computer brain. I feel that working with computers helps me understand human intelligence, albeit on a smaller scale. The software development aspect lured me to the field because it meant that I might have the opportunity to work as a freelancer or work from home if the situation requires it. I enjoy that prospect of independence. I have found that I love programming. Coding is frustrating as much as it is gratifying. Each project requires you to find specific solutions to problems; it rarely feels repetitive.</p>    
</div>

<p>My resume: <a href="\Assets\notReallyMyResume.pdf" target="_blank"  >notReallyMyResume.pdf</a></p>
</div>
