<%- include header.ejs %>

<%- include main_nav.ejs %>

<main class="container">

    <!--Form for logging in-->

    <form action="">
        <div>
            <div class="col-md-6">
                <label for="fname" class="form-label">User Name:</label>
                <input type="text" class="form-control" id="user-name" placeholder="User name"tabindex="">
            </div>
            <div class="col-md-6">
                <label for="contact-number" class="form-label">Password:</label>
                <input type="password" class="form-control" id="contact-number" placeholder="Password" tabindex="">
            </div>
        </div>

        <div class="container">
          <button class="btn-primary btn-lg text-nowrap" type="submit">Login</button>
        </div>
    </form>
        
</main>

<%- include bottom_nav.ejs %>

<%- include footer.ejs %>
  