<%# 
File name      : projects.ejs
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
%>

<!-- Projects Section --> 
<div class="container">
    <h3 class="bg-dark text-light" tabindex="11">Accessibility App for Visually Impared</h3>   
    <div class="d-flex flex-row text-div">
        <img src="\Assets\images\phone_camera.jpg" class="img-fluid rounded p-2" alt="Image of a person taking a photo with a phone."></img>
        <p class="p-2">I am currently working on an app that aids people with vision problems. The idea is for it to be completely operable via voice control. A user will take pictures, and the app will generate a description of the image. The app can also transform images taken of text, which the user will hear via speech. The app will utilize NLP, OCR, and computer vision with the help of Vision AI, and OpenCV.</p>    
    </div>  
    <h3 class="bg-dark text-light" tabindex="13">Sound Effects Webiste/application</h3>
    <div class="d-flex flex-row text-div" >  
        <p class="p-2 ">The idea for this project is to have a range of items on the screen that make different noises when clicked. The application is for small-scale projects and first drafts of big-scale projects. It will help animaters and moviemakers who want to create a recording of sound effects easily. Users will start recording and click on the effects they need in specific moments. For example, the sound of footsteps or the sound of a cat meowing. Another way is to tell the application the length of the audio you need and <i>when</i> to put in <i>what</i> sound effects automatically.  There will also be various options for most items to avoid duplicity.  </p>  
        <img src="\Assets\images\sound_effects_draft.png" class="img-fluid rounded p-2"  style="height:400%" alt="Basic functionality of the application."></img>
    </div>
    <h3 class="bg-dark text-light">Project 3</h3>
    <div  class="d-flex flex-row text-div" >
        <img src="\Assets\images\programming.webp" class="img-fluid rounded p-2" alt="Image of a person typing on a computer screen which contains some sort of programming language."></img>
        <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis imperdiet proin fermentum leo. Tempor orci dapibus ultrices in iaculis nunc sed augue. Suscipit adipiscing bibendum est ultricies integer. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Sit amet nisl suscipit adipiscing bibendum.</p>      
    </div>
</div>