/* 
File name      : app.css
Student’s Name : Asmae Allou  
StudentID      : 301159608
Date           : 29-09-21
*/

/*Custom css*/

body {
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  line-height: 200%
}

h3{
  margin-top: 3%;
  margin-bottom: 2%;
  padding:3%;
  font-weight: bold; 
}

h1{
  padding-bottom:2%;
}

.text-div{
  background: rgba(00, 00, 00, 0.1); 
  padding:3%;
}

.text-div img{
  max-width:40%;
  max-height: auto;
}

.navbar-footer{ 
  margin-left: auto;
  margin-right: auto;
}


button:hover{
  background: rgba(00, 00, 00, 0.1); 
}
.btn-light:hover{
  background:rgba(255, 236, 236, 0.1);
}

#clear{
  width:15%;
}

#buttons{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

footer{
margin-top: 5%;
clear: both;
}

.heading{
  margin-bottom: 3%;
}

.panel-group{
  margin-bottom:5%;
}

.panel{
  padding: 2% ;
}

form{
  padding-top: 2%;
}

.list-div{
  padding:1%;
}

.about-img{
  width:30%;
  float: left;
  margin:30px;
}

.clear-both{
  clear: both;
}

.displayName{
  color: rgb(255, 255, 255);
  margin-left: auto;
}